<div id="<%= dom_id webhook_target %>">
  <p>
    <strong>Repository:</strong>
    <%= webhook_target.repository %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= webhook_target.token %>
  </p>

</div>
