<div id="<%= dom_id webhook_target %>">
  <p>
    <strong>Repository:</strong>
    <%= webhook_target.repository %>
  </p>

  <p>
    <strong>Webhook URL</strong>
    <%= link_to nil, request.base_url + hooks_path(webhook_target.token) %>
  </p>

</div>
