<h1>Editing webhook target</h1>

<%= render "form", webhook_target: @webhook_target %>

<br>

<div>
  <%= link_to "Show this webhook target", @webhook_target %> |
  <%= link_to "Back to webhook targets", webhook_targets_path %>
</div>
